/* .attribution {
  font-size: 11px;
  text-align: center;
} */

/* .attribution a {
  color: hsl(228, 45%, 44%);
} */

* {
  padding: 0;
  margin: 0;
  background-color: #1c1938;
}
.main-section__background {
  position: relative;
  display: flex;
  max-width: 500px;
  min-height: 350px;
  width: 100%;
  background: rgba(91 13 111 / 0.5) url(/images/image-header-mobile.jpg);
  background-size: cover;
}
.main-section__background::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: " ";
}

.main-section__text {
  color: #fcfdfe;
  font-family: "Outfit", sans-serif;
}

.main-section__text h1 div {
  color: #a95ad2;
}
